/*
 * Default styling of the form.
 */

/**
 * Title.
 */
#content .header {
  background: #555;
  margin: -1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

#content .header:after {
  /* Clearfix. */
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

#content .header #page-title {
  color: #ddd;
  font-size: 1.3rem;
  float: left;
  margin: 0;
}

/**
 * General styling.
 */
#content .form-item label {
  color: #555;
}

#content .form-item .active_answer_type label {
  color: #ddd;
}
