/**
 * Styles for the questions form.
 *
 * First resets.
 */
#embedded-page-wrapper #page {
  width: auto;
  margin: 0;
}

#embedded-page-wrapper #main {
  width: auto;
  margin: 0;
}

#embedded-page-wrapper #content {
  display: block;
  float: none;
  position: static;
  margin: 1rem;
}

#embedded-page-wrapper #footer {
  width: auto;
  min-width: 0;
}

/**
 * Device width: < 500px.
 */
@media all and (max-device-width: 500px) {

  input[type='text'],
  input[type='number'],
  textarea,
  label {
    /* Try to disable field zoom. */
    font-size: 16px;
  }

  /* Add some finger margins on radio buttons. */
  #embedded-page-wrapper .form-type-radio {
    margin: 1rem 0;
  }
}
